.header {
  display: flex;
  gap: 2rem;
  padding-left: 25rem;
  padding-top: 5rem;
}

body {
  height: 90vh;
}

.footer {
  position: relative;
  bottom: -60vh;
  padding: 10px;
  border: 1px solid black;
}

.logo-img {
  width: 100px;
  height: 100px;
  margin-top: -15px;
}

.books-continer{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 10rem;
  gap: 5rem;
}