.header {
  display: flex;
  gap: 2rem;
  padding-left: 25rem;
  padding-top: 5rem;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer {
  position: relative;
  padding: 10px;
  border: 1px solid black;
  margin-top: 1rem;

  /* background-color: #9fb4ff; */
}

.logo-img {
  width: 100px;
  height: 100px;
  margin-top: -15px;
  border-radius: 30%;
}

.books-continer {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 10rem;
  gap: 5rem;
}

.popUp {
  display: none;
  position: fixed;
  padding-top: 2rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid black;
  width: 80vw;
  height: 90vh;
  z-index: 1300;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

.commentForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popUp_Content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
}

.closeBtn {
  color: #aaa;
  float: right !important;
  font-size: 42px;
  font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.bookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popUpImg {
  height: 60vh;
  width: 30vw;
}

/* style the buttons  */

/* CSS */
.like {
  letter-spacing: 1px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: black;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.like::before {
  content: "";
  background:
    linear-gradient(
      45deg,
      #f00,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #f00
    );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.like::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.commentBtn {
  letter-spacing: 1px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: black;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.commentBtn::before {
  content: "";
  background:
    linear-gradient(
      45deg,
      #f00,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #f00
    );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.commentBtn::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* likecounter */

.likeCounter {
  font-weight: bold;
}
